{{ locale }}
{{ 'Année' | t: locale }}
<div class="canonical">
<strong>{{ "Note :" | t:locale }}</strong> {{ "cet article a d'abord été publié sur" | t: locale }} <a href="{{ canonical }}">{{ title }}</a>.
</div>
