{% assign nbPages = pagination.hrefs | size %}
{% assign lastPageIndex = nbPages | minus: 1 %}
{% assign currentPage = pagination.pageNumber | plus:1 %}
{% if nbPages > 1 %}
<ul class="pagination">
  {% if pagination.previousPageHref %}
    {% if currentPage == 2 %}
      <li>
        <a href="{{ pagination.hrefs[0] | url }}" rel="prev" ><span class="sr-only">{{ "Accueil" | t: locale }}</span>&lsaquo;</a>
      </li>
    {% else %}
      <li>
        <a href="{{ pagination.previousPageHref | url }}" rel="prev"><span class="sr-only">{{ "Page précédente" | t: locale }}</span>&lsaquo;</a>
      </li>
    {% endif %}
  {% else %}
    <li class="disabled">&lsaquo;</li>
  {% endif %}

  {% if currentPage == 1 %}
    <li class="disabled">
      <strong>1</strong>
    </li>
  {% else %}
    <li>
      <a href="{{ pagination.hrefs[0] | url }}" ><span class="sr-only">{{ "Accueil" | t: locale }} </span>1</a>
    </li>
  {% endif %}

  {% assign page_start_index = 1 %}
  {% if currentPage > 3 %}
    {% assign page_start_index = pagination.pageNumber | minus: 2 %}
    <li class="disabled">
      …
    </li>
  {% endif %}

  {% assign page_end_index = nbPages | minus: 1 %}

  {% assign to_end = nbPages | minus: currentPage %}

  {% if to_end > 4 %}
    {% assign page_end_index = pagination.pageNumber | plus: 2 %}
  {% endif %}

  {% for index in (page_start_index..page_end_index) %}
    {% assign page_index = index | plus:1 %}
    {% assign delta = page_index | minus: currentPage | abs %}
    {% if delta > 0 %}
    <li>
      <a href="{{ pagination.hrefs[index] | url }}" ><span class="sr-only">Page </span>{{page_index}}</a>
    </li>
    {% else %}
    <li >
      <strong><span class="sr-only">Page </span>{{page_index}}</strong>
    </li>
    {% endif %}
  {% endfor %}
  {% if to_end > 4 %}
    <li class="disabled">…</li>
  {% endif %}

  {% if currentPage == nbPages %}
    <li >
      <strong>{{ currentPage }}</strong>
    </li>
  {% else %}
    {% assign tp1 = currentPage | plus: 1 %}
    <li>
      <a href="{{ pagination.hrefs[lastPageIndex] | url }}" {% if paginator.total_pages == tp1 %}rel="next"{% endif %}><span class="sr-only">{{ "Dernière page" | t: locale }} </span>{{nbPages}}</a>
    </li>
  {% endif %}
  {% if pagination.nextPageHref %}
    {% if currentPage == lastPageIndex %}
      <li class="disabled">&raquo;</li>
    {% else %}
    <li>
      <a href="{{ pagination.nextPageHref | url }}" rel="next"><span class="sr-only">{{ "Page suivante" | t: locale }} </span>&rsaquo;</a>
    </li>
    {% endif %}
  {% else %}
    <li class="disabled">&rsaquo;</li>
  {% endif %}
</ul>
{% endif %}
